<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahalwar.plumbill">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/app_icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlumBill">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PlumBill">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LogoutActivity"
            android:theme="@style/Theme.PlumBill"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".admin.AdminActivity"
            android:theme="@style/Theme.PlumBill" />

        <activity android:name=".admin.ProductActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.UserActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.UploadBillActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.product.RemoveItemActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.product.AddProductActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.product.UpdateItemActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.product.ViewItemActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.product.ViewAllItemsActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.product.GetProductID"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.usermanagement.ProfileActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.usermanagement.RegisterActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.usermanagement.RemoveActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.usermanagement.UpdateActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.usermanagement.ViewUsersActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".admin.usermanagement.GetUserId"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".user.AddBillActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".user.LoginActivity"
            android:theme="@style/Theme.PlumBill"/>

        <activity android:name=".user.AddItemActivity"
            android:theme="@style/Theme.PlumBill"/>

    </application>

</manifest>